* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top,#df6e6e, #eee4e4); /* Gradiente de vermelho claro até branco */
    padding: 20px;
}

.main-container {
    text-align: center;
}

.content {
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsivo para ajustar as imagens */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}


.gallery-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Tom de fundo suave */
  }
  
  .categoria {
    margin: 40px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to top, #df6e6e, #eee4e4);
  }
  

  
  .categoria h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
  }
  
  .fotos {
    display: flex;
    justify-content: center;
    gap: 40px; /* Aumente o valor para um espaçamento maior entre as imagens */
    margin-top: 20px;
  }
  
  
  img {
    width: 200px;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s;
  }
  
  img:hover {
    transform: scale(1.05);
  }
  
  .dia-semana {
    background: linear-gradient(to bottom, #df6e6e, #eee4e4);
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dia-semana h1 {
    color: #333; /* Texto em cor escura para contraste */
    font-size: 36px;
    margin: 0;
    font-weight: bold;
  }
  
